@model TicketModel

<div class="modal fade" id="detailsmodal-@Model.TicketId" tabindex="-1" role="dialog" aria-labelledby="adetailsModel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Details</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body justify-content-center">
				<h6 class="text-center">Urgency:</h6>
				<div class="dropdown show text-center">
					<a id="d-urgency-@Model.TicketId" class="btn btn-secondary dropdown-toggle urgency-dropdown" href="#" role="button" data-toggle="dropdown">@Html.DisplayFor(modelItem => Model.Urgency)</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#" onclick="setUrgency('none')">none</a>
						<a class="dropdown-item" href="#" onclick="setUrgency('vital')">vital</a>
						<a class="dropdown-item" href="#" onclick="setUrgency('average')">average</a>
						<a class="dropdown-item" href="#" onclick="setUrgency('minor')">minor</a>
					</div>
				</div>
				<hr />
				<h6 class="text-center">Description:</h6>
				<textarea id="d-description-@Model.TicketId" rows="15" style="resize:none;" class="w-100 d-block ml-auto mr-auto">@Html.DisplayFor(modelItem => Model.Description)</textarea>
			</div>
			<div class="modal-footer justify-content-center">
				<button type="button" class="btn btn-danger" onclick="deleteTicket('@Model.ProjectName', '@Model.TicketId')">Delete</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" onclick="editTicket('@Model.ProjectName', '@Model.TicketId')">Save changes</button>
			</div>
		</div>
	</div>
</div>