@model TicketBasket

<ul class="list-unstyled h-100 m-0">
	@foreach (var item in Model.ticketList)
	{
		<li id="@item.TicketId" class="ticket-listitem mx-2 my-3" draggable="true" ondragstart="onDragStart(event);" onclick="onClick('@item.TicketId.ToString()', '@item.Status.ToString()', '@item.Urgency.ToString()', '@item.Description.ToString()')">
			<div class="ticket-container">
				<div class="ticket-urgency @("U-"+item.Urgency) p-1">
				</div>
				<div class="ticket-content m-3 h-100">
					<span>@Html.DisplayFor(modelItem => item.Description)</span>
				</div>
			</div>
		</li>
	}
</ul>

<script src="~/js/ticket.js" asp-append-version="true"></script>

<script>

	function onClick(ticketId, status, urg, desc) {
		document.getElementById("d_TicketId").value = ticketId;
		document.getElementById("d_Urgency").textContent = urg;
		document.getElementById("d_Description").textContent = desc;
		$("#detailsModal").modal();
	}

</script>